.Picture__item {
    width: 100%;
    height: 100%;
    grid-row: span 1;
    /*flex-shrink: 5;*/
}

@media screen and (orientation: landscape) and (max-width: 767px) {
    .Picture__item {
        height: 100%;
        width: auto;
    }
}
